.vscode
.htaccess
.user.ini
*.log
*.zip
*.tar.gz
*.ipa
*.apk
*.rar
*.upload.tmp
public/h5
public/static
public/index.html
404.html
nginx.htaccess

/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/storage/logs
/vendor
.phpunit.result.cache
.idea
.env
composer.lock
docker
.DS_Store
